{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}  

<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What would you like to do?
      </h1>
    </legend>
    
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-1" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-1-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-1">
          Register to receive flood warning information
        </label>
        <span id="sign-in-1-item-hint" class="govuk-hint govuk-radios__hint">
          You will need to provide the address you want to register, a phone number that we can contact you on with flood warning information and an email address.
        </span>
      </div>
	  
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
          Sign into your flood warning account
        </label>
        <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          You can update your details or cancel your account. You will have to have access to your registered email address or customer reference number and your password.
        </span>
      </div>
    </div>
  </fieldset>
</div>

{% endblock %}
