{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}  

<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

 <h1 class="govuk-heading-xl">Sign in to your flood warning account</h1>
	  
	  <p>You can:</p>
	  <ul class="govuk-list govuk-list--bullet">
		  <li>change your contact details</li>
		  <li>change your locations you have registered</li>
		  <li>cancel this service</li>
	  </ul>
	  
	<div class="govuk-form-group">
  	<label class="govuk-label" for="width-20">
    Email address or customer reference number
  	</label>
  	<span id="email-hint" class="govuk-hint">
    Use the email address you used to sign up, or the 8-digit number in your account confirmation email
  	</span>
  	<input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
	</div>
	  
	<div class="govuk-form-group">
  	<label class="govuk-label" for="width-20">
    Password
  	</label>
  	<input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
	</div>

	<button type="submit" class="govuk-button">
  	Sign in
	</button>
	
	<br>
	
	<a href="#" class="govuk-link">Reset your password</a>

{% endblock %}
