{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Flooding and extreme weather</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Sign up for flood warnings</a>
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if serviceName %} {{ serviceName }} {% endif %}</h1>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sign up to receive free flood warning information in England and Wales by text message, email or automated telephone message</li>
        <li>edit or remove contacts you already have registered</li>
      </ul>
      
      <div class="govuk-inset-text">
      <p>The online service is also available in <a href="https://www.fws.environment-agency.gov.uk/app/olr/home?style=NRW&lang=cy">Welsh (Cymraeg)</a> on the Natural Resources Wales site.</p>
      </div>
      <p><a class="govuk-button govuk-button--start" href="#" role="button">Start now</a></p>
	  
	  <!--   <div class="govuk-inset-text">
      <p>Register for flood warnings in <a rel="external" href="http://floodline.sepa.org.uk/floodingsignup/">Scotland</a>. You can use flood maps to <a rel="external" href="http://riversagency.maps.arcgis.com/apps/webappviewer/index.html?id=fd6c0a01b07840269a50a2f596b3daf6">check flooding risk in Northern Ireland</a>.</p>
      </div>  -->
	  
	  
      <h2 class="govuk-heading-m">Other ways to register</h2>
      <p>If you’re in England, Scotland or Wales you can also register, update or remove your contacts by calling Floodline.</p>
      <div class="govuk-inset-text">
        <p><strong>Floodline</strong><br>
        Telephone: 0345 988 1188<br>
        24-hour service<br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </div>
      <h2 class="govuk-heading-m">Warnings for organisations with more than one location</h2>
      <p>If you’re in England or Wales, you can register for warnings for more than one location, for example if your organisation has many sites, or you are interested in a large geographical area.</p>
      <p>To register, call the Targeted Flood Warning Service - it is free for not-for-profit organisations, but there may be a charge for other organisations.</p>
      <div class="govuk-inset-text">
        <p><strong>Targeted Flood Warning Service</strong><br>
        Telephone: 03708 506 506<br>
        Monday to Friday, 8am to 6pm<br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </div>
      <p>If you are already registered to the Targeted Flood Warning Service, you can sign in <a href="https://www.fws.environment-agency.gov.uk/app/olr/fwslogin">here.</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav aria-labelledby="subsection-title" role="navigation">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="https://flood-warning-information.service.gov.uk/warnings">Flood information service</a>
            </li>
            <li>
              <a href="https://flood-warning-information.service.gov.uk/5-day-flood-risk">5-day flood risk for England and Wales<a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
